[duo]
; Duo integration key
ikey = DIK5ZK7OHUWQ1AKBQOJ7
; Duo secret key
skey = JVkqsRoikpLlL8v2ndVvSyKULG1U1UhpsVT8nN4u
; Duo API host
host = api-79917798.duosecurity.com
; Send command for Duo Push authentication
;pushinfo = yes
;group = administrators
